<h2 style="text-align:center">Search Customer</h2><br>

<div class="form group">
    <input type="text" style="width:400px;margin:0 auto;"  class="form-control" ng-model="CP_id_to_search"  placeholder="Please enter your customer ID here..."><br><br>
</div>

<p style="text-align:center">
    <button class="btn btn-info btn-lg" ng-click="searchUser(CP_id_to_search); searchComplete=true">
        <span class="glyphicon glyphicon-search"></span> Search!
    </button>
</p><hr>
<!--<div ng-show="CP_searchComplete">-->
<div ng-show="searchComplete">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Edit</th>
            <th>Customer ID</th>
            <th>Agent ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Telephone</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in users">
            <td>
                <!--<button class="btn" ng-click="CP_updateCustomerWanted(x.cid)">-->
                <button class="btn btn-link" ng-click="updateCustomerWanted(x.cid)">
                    <span class="glyphicon glyphicon-pencil"></span>Update
                </button>
            </td>
            <td>{{ x.cid }}</td>
            <td>{{ x.aid }}</td>
            <td>{{ x.fName }}</td>
            <td>{{ x.lName }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.tel }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div ng-show="updateCustomerShow" ng-include="'customerUpdater.html'"></div>