<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head lang="en">-->
    <!--<meta charset="UTF-8">-->
    <!--<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
    <!--<title>Agent Log-in</title>-->
<!--</head>-->
<!--<body>-->
<div ng-init="showAuthenticate=true">
    <br><br><br><br><h1 style="text-align:center">Agent Service</h1><br>
    <div ng-show="showAuthenticate">
        <h3 style="text-align:center">Agent Login</h3>
        <p style="text-align:center">
            <input type="text" ng-model="agentID_to_search"  size="35" placeholder="Please enter your agent ID here...">
        </p>
        <p style="text-align:center"><mark>{{error_message}}</mark></p><br>
        <p style="text-align:center">
            <button class="btn btn-primary btn-lg" ng-click="verify(agentID_to_search);showAuthenticate=false">
            <span class="glyphicon glyphicon-th-large"></span> Authenticate
            </button>
        </p>
    </div>
    <div>
        <hr>
        <div style="text-align:center" ng-show="agentVerified">
            <p><button class="btn btn-info" ng-click="wannaCustomer=true; wannaRecord=false">
                <span class="glyphicon glyphicon-user"></span> Customer Management
            </button>
            <br><br><br>
            <button class="btn btn-success" ng-click="wannaRecord=true; wannaCustomer=false">
                <span class="glyphicon glyphicon-th-list"></span> Record Management
            </button></p>
        </div>
        <hr>
        <div ng-show="wannaCustomer" ng-include = "'customerManagement.html'"></div>
        <div ng-show="wannaRecord" ng-include = "'recordManagement.html'"></div>
    </div>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>-->
    <!--<script src="myApp.js"></script>-->
    <!--<script src="myController.js"></script>-->
<!--</body>-->
<!--</html>-->
</div>