<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController" ng-init="showCP=false; showAP=false; hideAfterLogIn=true; showReLogin=false">
<div style="text-align: center" ng-show="hideAfterLogIn">
    <br><br><br>
    <h1 style="text-align: center"> Customer Relationship Management System</h1><br><br>
    <button class="btn btn-info btn-lg" ng-click="showCP=true; showAP=false; hideAfterLogIn=false; showReLogin=true">
        <span class="glyphicon glyphicon-user"></span>  I am a customer!
    </button> &nbsp; &nbsp; &nbsp;
    <button class="btn btn-info btn-lg" ng-click="showAP=true; showCP=false; hideAfterLogIn=false; showReLogin=true">
        <span class="glyphicon glyphicon-th"></span>  I am an agent!
    </button>
</div>
    <br>
    <div ng-show="showReLogin" style="text-align: right">
        <button class="btn btn-default btn-sm" ng-click="hideAfterLogIn=true; showCP=false; showAP=false">
            <span class="glyphicon glyphicon-home"></span> Login Using Another Account?
        </button>&nbsp;&nbsp;&nbsp;
    </div>
    <div ng-show="showCP" ng-include="'_customer.html'"></div>
    <div ng-show="showAP" ng-include="'_agent.html'"></div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="myApp.js"></script>
<script src="myController.js"></script>
</body>
</html>