<hr>
<p>Agent ID: <input type="text" ng-model="agentID" readonly></p>

<p>User Name: <input type="text" ng-model="newRec.userName"></p>
<p>Email: <input type="text" ng-model="newRec.userEmail"></p>
<p>Phone: <input type="text" ng-model="newRec.userPhone"></p>
<p>Data: <input type="text" ng-model="newRec.contactData"></p>
<p>Model: <select ng-model="newRec.contactModel">
    <option value="email">E-mail</option>
    <option value="phone">Phone</option>
</select></p>
<p>Text Summary: <input type="text" ng-model="newRec.textSummary"></p>
<p><button class="btn btn-success" ng-click="createRecord(newRec)">
    <span class="glyphicon glyphicon-user"></span> Create Record
</button></p>

<div ng-show="recordSubmitted">
    <table>
        <tr ng-repeat="x in thingsToSubmit">
            <td>{{ x}}</td>
        </tr>
    </table>
</div>