<div style="background-color: lavender;"><br>
<h4 style="text-align:center">Search Customer</h4>
<p style="text-align:center">
    <input type="text" ng-model="id_to_search" size="35" placeholder="Please enter customer ID here..."><br><br>
    <button class="btn btn-default" ng-click="searchUser(id_to_search); resetMessage()">
        <span class="glyphicon glyphicon-user"></span> Search by ID
    </button>
</p><br>
<p style="text-align:center">
    <input type="text" ng-model="attribute_to_search" size="35" placeholder="Please enter agent ID/first name/last name/email/telephone/address here..."><br><br>
    <button class="btn btn-default" ng-click="searchUser2(pageIndex,attribute_to_search); resetMessage();checkIndex()">
        <span class="glyphicon glyphicon-user"></span> Search by Attributes
    </button>
</p><br>
    <p style="text-align: center">{{errorMessage}}</p>
</div>

{{address}}
{{address.AddressLine1}}
{{user[0]}}
<div ng-show="searchComplete">
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Edit</th>
            <th>Customer ID</th>
            <th>Agent ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <button class="btn" ng-click="updateCustomerWanted(user.customerID, user.agentID); resetMessage()">
                    <span class="glyphicon glyphicon-pencil"></span>  Update
                </button>
            </td>
            <td>{{ user.customerID }}</td>
            <td>{{ user.agentID }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.customerEmail }}</td>
            <td>{{ user.customerPhone }}</td>
            <td>{{ user.customerAddress.AddressLine1 + ", " + user.customerAddress.AddressLine2 + ", " + user.customerAddress.City + ", " + user.customerAddress.State + ", " + user.customerAddress.Country + ", " + user.customerAddress.ZipCode}}</td>
        </tr>
        </tbody>
    </table>
</div>
{{errorMessage}}
<div ng-show="attributeSearchComplete">
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Edit</th>
            <th>Customer ID</th>
            <th>Agent ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in users">
        <!--<tr>-->
            <td>
                <button class="btn" ng-click="updateCustomerWanted(x.customerID, x.agentID); resetMessage()">
                    <span class="glyphicon glyphicon-pencil"></span>  Update
                </button>
            </td>
            <td>{{ x.customerID }}</td>
            <td>{{ x.agentID }}</td>
            <td>{{ x.firstName }}</td>
            <td>{{ x.lastName }}</td>
            <td>{{ x.customerEmail }}</td>
            <td>{{ x.customerPhone }}</td>
            <td>{{ x.customerAddress.AddressLine1 + ", " + x.customerAddress.AddressLine2 + ", " + x.customerAddress.City + ", " + x.customerAddress.State + ", " + x.customerAddress.Country + ", " + x.customerAddress.ZipCode}}</td>
        </tr>
        </tbody>
    </table>
    &nbsp;&nbsp;&nbsp;
    <button class="btn btn-default" ng-disabled="previousOutOfBounds" ng-click="checkIndex();previousPage(); searchUser2(pageIndex,attribute_to_search); resetMessage()">
        <span class="glyphicon glyphicon-user"></span> previous page
    </button>
    &nbsp;&nbsp;
    <button class="btn btn-default" ng-disabled="nextOutOfBounds" ng-click="checkIndex();nextPage(); searchUser2(pageIndex,attribute_to_search); resetMessage()">
        <span class="glyphicon glyphicon-user"></span> next page
    </button>
</div>
<div ng-show="updateCustomerShow" ng-include="'customerUpdater.html'"></div>
