<p style="text-align:center">
    <button class="btn btn-link" ng-click="wannaCreateCustomer=true; wannaSearchCustomer=false; createCustomerWanted()">
        <span class="glyphicon glyphicon-pencil"></span> Create Customer
    </button>
    <button class="btn btn-link" ng-click="wannaSearchCustomer=true; wannaCreateCustomer=false; resetSearchCustomer()">
    <span class="glyphicon glyphicon-search"></span> Search Customer
    </button>
</p>

<div ng-show="wannaCreateCustomer" ng-include="'customerCreator.html'"></div>

<div ng-show="wannaSearchCustomer" ng-include="'customerSearcher.html'"></div>

