<div>
    <hr>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label"> Agent ID: </label>
            <input type="text" ng-model="agentID" readonly>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">First Name: </label>
            <input ng-model="new2.fName" placeholder="first name">
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Last Name: </label>
            <input type="text" ng-model="new2.lName" placeholder="last name">
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Email: </label>
            <input type="text" ng-model="new2.email" placeholder="email">
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Telephone: </label>
            <input type="text" ng-model="new2.tel" placeholder="tel">
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Address Line 1: </label>
            <input type="text" ng-model="new2.addressLine1" placeholder="address line 1">
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Address Line 2: </label>
            <input type="text" ng-model="new2.addressLine2" placeholder="address line 2">
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">City: </label>
            <input type="text" ng-model="new2.city" placeholder="city">
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">State: </label>
            <input type="text" ng-model="new2.state" placeholder="state">
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Country: </label>
            <input type="text" ng-model="new2.country" placeholder="country">
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Zip Code: </label>
            <input type="text" ng-model="new2.zipCode" placeholder="zip code">
        </div>

    </form>
    <p style="text-align:center">
        <button class="btn btn-success" ng-click="createUser(agentID, new2)">
            <span class="glyphicon glyphicon-ok"></span> Create
        </button>
    </p>
</div>
<hr>
<div ng-show="testCustomer2">
    <h4 style="text-align:center"> Information Submitted!</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                Customer ID
            </th>
            <th>
                Agent ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Telephone
            </th>
            <th>
                Address
            </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                {{userIDToBeCreated}}
            </td>
            <td>
                {{agentID}}
            </td>
            <td>
                {{new2.fName}}
            </td>
            <td>
                {{new2.lName}}
            </td>
            <td>
                {{new2.email}}
            </td>
            <td>
                {{new2.tel}}
            </td>
            <td>
                {{new2.addressLine1 + ", " + new2.addressLine2 + ", " + new2.city + ", " + new2.state + ", " + new2.country + ", " + new2.zipCode }}
            </td>
        </tr>
        </tbody>
    </table>
    <br><br><br>
</div>