<div class="container">
 <form class="form-horizontal">
     <div class="form-group">
         <label class="col-sm-2 control-label">Record ID: </label>
         <input type="text" ng-model="recordID" readonly>
     </div>
     <div class="form-group">
         <label class="col-sm-2 control-label">Customer ID: </label>
         <input type="text" ng-model="newRec.userID" placeholder="customer ID">
     </div>
     <div class="form-group">
         <label class="col-sm-2 control-label">Data: </label>
         <input type="text" ng-model="newRec.contactData" placeholder="contact data">
     </div>
     <div class="form-group">
         <label class="col-sm-2 control-label">Type: </label>
         <select ng-model="newRec.contactModel" placeholder="contact method">
             <option value="email">E-mail</option>
             <option value="phone">Telephone</option>
         </select>
     </div>
     <div class="form-group">
         <label class="col-sm-2 control-label">Text Summary: </label>
         <textarea type="message" cols="40" rows="10" maxlength="200" ng-model="newRec.textSummary"></textarea>
     </div>
 </form>
<br>
<p style="text-align: center">
    <button class="btn btn-success" ng-click="createRecord(recordID, newRec)">
        <span class="glyphicon glyphicon-ok"></span> Create Record
    </button>
</p>
<hr>
<div ng-show="testRecord" class="jumbotron">
    <h4 style="text-align: center"> Record Submitted!</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Record ID
                </th>
                <th>
                   Customer ID
                </th>
                <th>
                    Data
                </th>
                <th>
                    Type
                </th>
                <th>
                    Text Summary
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{recordID}}
                </td>
                <td>
                    {{newRec.userID}}
                </td>
                <td>
                    {{newRec.contactData}}
                </td>
                <td>
                    {{newRec.contactModel}}
                </td>
                <td>
                    {{newRec.textSummary}}
                </td>
            </tr>
        </tbody>
    </table>
    <br><br><br>
</div>
</div>