<p style="text-align:center">
    <button class="btn btn-link" ng-click="wannaCreateRecord=true; wannaSearchRecord=false; createRecordWanted()">
        <span class="glyphicon glyphicon-pencil"></span> Create Record
    </button>

    <button class="btn btn-link" ng-click="wannaSearchRecord=true; wannaCreateRecord=false; resetSearchRecord()">
        <span class="glyphicon glyphicon-search"></span> Search Record
    </button>
</p>

<div ng-show="wannaSearchRecord" ng-include="'recordSearcher.html'"></div>
<div ng-show="wannaCreateRecord" ng-include="'recordCreator.html'"></div>
