<div class="container">
    <div class="jumbotron">
    <br><h4 style="text-align:center">Search Record</h4>
    <p style="text-align:center">
        <input type="text" ng-model="record_id_to_search" size="40" placeholder="Please enter record ID here..."><br><br>
        <button class="btn btn-default" ng-click="searchRecord(record_id_to_search)">
            <span class="glyphicon glyphicon-th-list"></span> Search!
        </button>
    </p><hr></div>
</div>
<div ng-show="searchRecordComplete">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Edit</th>
            <th>Record ID</th>
            <th>Customer ID</th>
            <th>Data</th>
            <th>Type</th>
            <th>Text Summary</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in records">
            <td>
                <button class="btn" ng-click="updateRecordWanted(x.rid)">
                    <span class="glyphicon glyphicon-pencil"></span> Update
                </button>
            </td>
            <td>{{ x.rid }}</td>
            <td>{{ x.cid }}</td>
            <td>{{ x.data }}</td>
            <td>{{ x.type }}</td>
            <td>{{ x.text }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div ng-show="updateRecordShow" ng-include="'recordUpdater.html'"></div>